<form action ="{% url 'poll:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{ question.question_text }}</h1>
        </legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>
                <! -- I need to go back and write the error code in views, otherwise these variables don't make sense -->
            {% endif %}
            {% for choice in question.choice_set_all %}
                <! -- Again, another variable I need to specify in views -->
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            {% comment %}
              Nah, what in the dog shit is this. No fucking way I'm memorizing the options for input
            {% endcomment %}
            <label for="choice{{ forloop.counter }}">
                    <! -- If you want to count the number of choices made? -->
                {{ choice.choice_text }}
            </label>
            {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>